.div
{
	position: absolute;
	left: 850px;
	width: 390px;
	height: 90%;
	background-color: transparent;
	border:1px solid black;
}
.table2
{
	position: absolute;
	top: 100px;
	left: 40px;
	border:.5px solid silver;
	width: 25%;
	height: 380px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.button
{
	padding: 10px;
	border-radius: 50%;
	background-color: transparent;
	border: 0.5px solid transparent; 
	letter-spacing: 1px;
	font-weight: normal;
	font-size: 1.2em;
	display: inline-block;
}
.button:hover
{
	background-color: #e5e5e5;
	opacity: 0.35;
}
.repay
{
	position: absolute;
	top: 50px;
	left: 40px;
	margin-top: 30px;
}
p
{
	font-size: 1.2em;
	font-weight: normal;
}
#top
{
	width: 80%;
	margin:auto;
}
.light
{
	color: silver;
	opacity: 0.6;
	font-weight: normal;
	font-size: 1.2em;
}
.active
{
	background-color: #f5f7fa;
	font-size: 1.45em;
	font-weight: normal;
	border:.5px solid silver;
}
.below
{
	position: absolute;
	bottom: 110px;
	margin-right: 10px;
	font-size: 0.8em;
	color: #808b9a;
}

.left
{
	left: 20px;
}
.centre
{
	left: 150px;
}
.right
{
	left: 300px;
}
.bottom
{
	position: absolute;
	bottom: 90px;
	margin-right: 10px;
	color: #505d70; 
	font-weight: bold;
	font-size: 1.2em;
}
.low
{
	position: absolute;
	bottom: 60px;
	font-weight: normal;
	font-size: 0.8em;
	margin-right: 10px;
	color: #808b9a;
}
#apply
{
	position: absolute;
	bottom: 10px;
	margin: auto;
	width: 80%;
	font-weight: bolder;
	margin-left: 35px;
	font-size: 1.5em;
}