.div
{
	position: absolute;
	left: 850px;
	bottom: 80px;
	width: 390px;
	height: 600px;
	background-color: transparent;
	border:1px solid black;
}
.table2
{
	position: absolute;
	top: 100px;
	left: 40px;
	border:.5px solid silver;
	width: 25%;
	height: 400px;
}
.button
{
	padding: 10px;
	border-radius: 50%;
	background-color: transparent;
	border: 0.5px solid transparent; 
	letter-spacing: 1px;
	font-weight: normal;
	font-size: 1.2em;
	display: inline-block;
}
.button:hover
{
	background-color: #e5e5e5;
}
#repay
{
	position: absolute;
	font-size: 1.45em;
	font-weight: normal;
	top: 50px;
	left: 40px;

}
.light
{
	color: silver;
	opacity: 0.6;
	font-weight: normal;
	font-size: 1.2em;
}
.button:hover
{
	background-color: #e5e5e5;
	opacity: 0.35;
}
.active
{
	background-color: #f5f7fa;
	font-size: 1.45em;
	font-weight: normal;
	border:.5px solid silver;
}
.below
{
	position: absolute;
	bottom: 70px;
	margin-right: 10px;
}
.left
{
	left: 20px;
}
.centre
{
	left: 150px;
}
.right
{
	left: 300px;
}